body {
    
}

h1, h2, h3, h4, h5, h6 {
    color: $titulos;
    font-family: $playfair;
}

p {
    font-family: $faunaone;
    font-size: $medium;
    color: $textos;
    line-height: 24px;
}

h2 {
    font-size: $xxxx-large;
    line-height: 64px;
}

h3 {
    font-size: $xxx-large;
    line-height: 48px;
}

h4 {
    font-size: $xx-large;
    line-height: 40px;
}

h5 {
    font-size: $x-large;
    line-height: 32px;
}

h6 {
    font-size: $large;
    line-height: 24px;
}