// Fuentes
$worksans: 'Work Sans', sans-serif;
$merriweather: 'Merriweather', serif;

// Pesos de fuentes
$regular: 400;
$bold: 700;

// Tamaños de fuentes
$xxxx-large: 34px;
$xxx-large: 32px;
$xx-large: 24px;
$x-large: 23px;
$large: 18px;
$medium: 16px;
$x-small: 12px;