// Fuentes
$playfair: 'Playfair Display', serif;
$faunaone: 'Fauna One', serif;

// Pesos de fuentes
$regular: 400;
$bold: 700;

// Tamaños de fuentes
$xxxx-large: 56px;
$xxx-large: 40px;
$xx-large: 32px;
$x-large: 24px;
$large: 18px;
$medium: 16px;
$smaill: 14px;
$x-small: 12px;