.analisis__texto {
    width: 55%;
}

.analisis__img {
    text-align: center;
    img {
        width: 85%;
        height: auto;
    }
}

.analisis__arquetipo-cliente-1 {
    background-color: rgba($color: #BB6BD9, $alpha: 0.1);
}

.analisis__arquetipo-cliente-2 {
    background-color: rgba($color: #F2994A, $alpha: 0.1);
}

.analisis__arquetipo-img {
    padding: 1rem 0;
    width: 94px;
}