.analisis__texto {
    width: 55%;
}

.analisis__img {
    text-align: center;
    img {
        width: 85%;
        height: auto;
    }
}

.analisis__arquetipo-cliente-1 {
    background-color: rgba($color: #BB6BD9, $alpha: 0.1);
}