.investigacion {
    padding: 5rem 0;
}

.investigacion__titulo {
    padding-bottom: 1rem;
    h6 {
        font-size: 18px !important;
    }
}


.investigacion__texto {
    width: 55%;
}

.investigacion__tabla {
    width: 73%;
    padding-bottom: 1rem;
}

.investigacion__cita {
    text-align: right;
    font-style: italic;
    img {
        float: left;
        width: 88px;
    }
}

.investigacion__cita-texto {
    width: 40%;
}

.investigacion__porcentaje {
    text-align: center;
    color: #000000;
    font-size: 48px;
}