.bg-color {
    background-color: transparent;
    transition: all 1s ease;
    path {
        fill: $white !important;
    }
}

.bg-light {
    background-color: $white !important;

    path {
        fill: #000 !important;
    } 
}






    